#navbar{
    flex-direction: column;
}

#services{
    flex-direction: column;
}

#clients{
    flex-wrap: wrap;
}

#clients img{
    height: 100px;
    width: 100px;
    padding: 6px;
}

.h-primary{
    font-size: 1.8rem;
    padding: 0px;
    font-family: 'Dancing Script', cursive;
    width: 600px;
    
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Dancing Script', cursive;
    
}

#home p{
    width: 600px;
    text-align: center;
    font-size: 0.90rem;
    color: white;
    font-family: cursive;
}

#navbar ul li{
    list-style: none;  /*list style is used for dots in ul list*/
    font-size: 0.7rem;
    /* padding: 1px 1px; */
} 

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px ;
    border-radius: 20px;
    text-decoration: none;  /*removing underline under the href link*/
    font-family: 'Dancing Script', cursive;
}  